<%= form_with(model: topping) do |form| %>
  <div class="row align-items-center">
    <div class="col-md-1">
      <h4><%= form.label :name, "Name:", { class: "form-label form-label-lg"} %></h4>
    </div>
    <div class="col-md-9">
      <%= form.text_field :name, { class: "form-control form-control-lg", maxlength: 50 } %>
    </div>
    <div class="col-md-2">
      <% if new_topping %>
        <%= form.submit "Create Topping", class: "btn btn-block btn-primary" %>
      <% else %>
        <%= form.submit "Update Topping Name", class: "btn btn-block btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
