<%= form_with(model: topping) do |form| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row v-align-middle">
        <div class="col-md-1">
          <h4><%= form.label :name, "Name:", { class: "form-label form-label-lg"} %></h4>
        </div>
        <div class="col-md-8">
          <%= form.text_field :name, { class: "form-control form-control-lg form-control-custom", maxlength: 50 } %>
        </div>
        <div class="col-md-3">
          <% if new_topping %>
            <%= form.submit "Add Topping", class: "btn btn-block btn-primary" %>
          <% else %>
            <%= form.submit "Update Topping Name", class: "btn btn-block btn-update" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
